<div class="container mr-150">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Tablero</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Contáctenos</li>
	  </ol>
	</nav>
	<div class="top-content pd-top-22 clearfix">
		<div class="row">
			<div class="col-md-3 border-right">
			   	<h2 class="semibold-text center-text">Contáctenos</h2>
			</div>
			<div class="border"></div>
			<div class="col-md-8">
				<p class="top-head-2">Nuestro equipo está disponible para responder a preguntas durante los días de semana entre el horario de 9 am a 5 pm. Se puede comunicar por teléfono o correo electrónico. Responderemos a cualquier pregunta dentro de 24 horas.</p>
			</div>
		</div>	
	</div>
	<div class="contact row">
		<div class="col-md-6">
			<div class="contact-details">
                <h3>Comentarios y sugerencias</h3>
			<p>Use la sección a continuación para dejarnos saber si tiene algunas sugerencias que pueda mejorar My NM Care Corner.</p>
			<form [formGroup]="sendComment" (submit)="submit()" autocomplete="off" class="contact-form">
				<div class="row">
					<div class="form-group col-md-6">
					    <label for="inputsm">Nombre completo</label>
					    <input class="form-control" id="inputsm" type="text" placeholder="Su nombre" formControlName="fullName">
					    <p class="error" *ngIf="sendComment.controls['fullName'].hasError('required') && sendComment.controls['fullName'].touched">Se requiere su nombre completo.</p>
                    	<p class="error" *ngIf="sendComment.controls['fullName'].hasError('pattern') && sendComment.controls['fullName'].touched">Por favor introduzca un nombre completo válido.</p>
				  	</div>
				  	<div class="form-group col-md-6">
					    <label for="inputsm">Correo electrónico</label>
					    <input class="form-control" id="inputsm" type="email" placeholder="Correo electrónico" formControlName="email">
					    <p class="error" *ngIf="sendComment.controls['email'].hasError('required') && sendComment.controls['email'].touched">Correo electrónico es requerido.</p>
                    	<p class="error" *ngIf="sendComment.controls['email'].hasError('pattern') && sendComment.controls['email'].touched">Por favor introduzca un correo electrónico válido.</p>
				  	</div>
				</div>				
			  	<div class="form-group">
				    <label for="inputsm">Mensaje</label>
				    <textarea row="20" class="form-control" placeholder="Mensaje aquí" formControlName="message"></textarea>
				    <p class="error" *ngIf="sendComment.controls['message'].hasError('required') && sendComment.controls['message'].touched">Se requiere mensaje.</p>
                    <p class="error" *ngIf="sendComment.controls['message'].hasError('pattern') && sendComment.controls['message'].touched">Por favor ingrese un mensaje válido.</p>
			  	</div>
			  	<div class="contact-submit">
			  		<button class="btn-primary pull-right">Enviar</button>
			  	</div>
			</form>
			<label>{{confirmation}}</label>
            </div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-5 contact-info">
			<div class="email row contact-dispaly">
				<div class="col-md-4 icon">
					<i class="icon-mail"></i>
				</div> 
				<div class="col-md-8 pt-25">
					<h4>Correo electrónico:</h4>
					<p>nuimpact@northwestern.edu</p>
				</div> 
			</div>
			<div class="telephone row contact-dispaly">
				<div class="col-md-4 icon">
					<i class="icon-telephone"></i>
				</div> 
				<div class="col-md-8 pt-25">
					<h4>Número de teléfono:</h4>
					<p>(312) 503-5422</p>
				</div> 
			</div>
		</div>
		
	</div>
</div>