<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Tablero</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Biblioteca de síntomas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Linfedema</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Linfedema relacionado con el cáncer</h2>
                    <div class="foods-btn">
                    <a class="foods-btn" (click)= "logPDF('symptom-library-lymphedema.pdf')" href="assets/pdf/symptom-library-lymphedema.pdf" target='_blank'>Descargar pdf <i class="icon-pdf"></i> </a> 
                    </div>
                    <span>Escuche el audio completo de esta página a continuación</span>
                    <img src="assets/img/stript.png" class="d-none" width="100%" />
                     <img src="assets/img/stript-mob.png" class="mob-none" width="100%" />
                    <br> <br>
                    <p class="detail-pera">Cuando se remueven o se dañan los ganglios y vasos linfáticos, el líquido linfático se acumula y provoca una hinchazón en la zona afectada. Esto se conoce como linfedema. La causa más común del linfedema es la extracción o el daño de los ganglios y vasos linfáticos como consecuencia del tratamiento del cáncer. Los tumores que dañan los ganglios y vasos linfáticos también pueden causar linfedema. El linfedema se puede controlar si se detecta a tiempo.</p>
                    <p class="detail-pera"><b>¿Tengo riesgo de desarrollar un linfedema relacionado con el cáncer?</b> El linfedema no suele aparecer de inmediato. Puede desarrollarse un año o incluso más tarde después del tratamiento del cáncer. Los principales factores de riesgo para que se genere un linfedema son los siguientes:</p>        

                    <ul class="left-side">
                        <li>Extracción quirúrgica de los ganglios linfáticos.</li>
                        <li>Radiación en una zona donde hay ganglios linfáticos.</li>
                        <li>Obesidad.</li>
                        <li>Antecedentes de linfedema.</li>
                    </ul>
                    <p class="semibold-text pt-pb">¿Hay signos y síntomas a los que deba prestar atención?</p>
                    <ul class="left-side">
                        <li>Los signos y síntomas comunes del linfedema son los siguientes:</li>
                        <ul class="left-side">
                            <li>Hinchazón persistente o intermitente en el área tratada por el cáncer.</li>
                            <li>Sensación de que la ropa y ropa interior ajustan más en el lado donde se trató el cáncer.</li>
                            <li>Cambios en la forma de la zona afectada.</li>
                            <li>Cambios en el color (marrón rojizo y con manchas) y la textura (rígida, musculosa, brillante o con aspecto de cáscara de naranja) de la piel en la zona afectada.</li>
                            <li>Menos flexibilidad en el área hinchada (por ejemplo, en la mano, la muñeca, el hombro, la cara, los labios, la garganta, el cuello, los párpados, el tronco, las piernas o los genitales).</li> 
                            <li>Sensaciones de pesadez, tensión o molestia en la zona hinchada</li>
                            <li>Dificultades de que le quede la ropa en la zona hinchada (como la sisa de la camisa, la manga, la ropa interior, el sujetador, la camiseta, la pierna del pantalón o el calzado).</li>
                            <li>Sensación de que los cuellos de camisas, anillos, relojes o brazaletes le quedan apretados.</li> 
                            <li>Frecuentes infecciones de la piel</li>
                        </ul>
                    </ul>
                    <br>    
                    <p class="semibold-text pt-pb">¿Quién puede tratar el linfedema y en qué consiste el tratamiento?</p>
                    <ul class="left-side">
                        <li>Los terapeutas certificados en linfedema tienen entrenamiento especializado y avanzado para administrar tratamiento de linfedema. La mayoría de los terapeutas de linfedema certificados son fisioterapeutas.</li>

                        <li>El linfedema suele tratarse con sumo cuidado. El estándar por excelencia para el tratamiento del linfedema se denomina terapia descongestiva completa.</li>  
                        <ul class="left-side">
                        <li>El objetivo es reducir la hinchazón lo mayor posible, mejorar la condición de la piel y mantener la hinchazón bajo control.</li>  
                        </ul>
                        <li>Existen nuevos avances en las técnicas quirúrgicas que pueden servir para algunos pacientes con linfedema una vez que son tratados por un terapeuta de linfedema certificado. Consulte a su médico si reúne los requisitos para alguna de estas nuevas prácticas quirúrgicas.</li>  
                    </ul><br>
                    
                    <p class="detail-pera">¿Cómo puedo reducir el riesgo de desarrollar un linfedema?</p>
                    <ul class="left-side">
                        <li>Cuide la piel adecuadamente:</li>
                        <ul class="left-side">
                            <li>Mantenga la piel limpia e hidratada.</li>
                            <li>Use jabones y detergentes marcados como "hipoalergénicos".</li>
                            <li>Utilice máquinas de afeitar eléctricas en vez de navajas al rasurarse la zona afectada.</li> 
                            <li>Use protector solar y repelente de insectos.</li> 
                            <li>Use ropa para protegerse (como pantalones y mangas largas, guantes o sombreros) al hacer actividades que puedan dañar o raspar la piel; por ejemplo, hacer jardinería, limpiar la casa, lavar los platos, hacer reparaciones en la casa y el coche, hacer trabajos de carpintería, etc.</li>
                            <li>Evite los cortes al hacerse la manicura y pedicura, y use sus propias herramientas.</li>
                        </ul>
                        <li>Controle la hinchazón:</li>
                        <ul class="left-side">
                            <li>Siempre que sea posible, mantenga el área afectada por encima de la altura del corazón.</li>
                            <li>Use las vendas o prendas de compresión recomendadas por su terapeuta de linfedema certificado.</li>
                            <li>Use ropa cómoda y que le quede bien.</li>
                        </ul>
                        <li>Minimice los síntomas:</li>
                        <ul class="left-side">
                            <li>Mantenga un peso corporal saludable.</li>
                            <li>Asegúrese de que haya una temperatura constante en su casa.</li>
                            <li>Tenga cuidado al llevar bolsas o bolsos pesados si el brazo está afectado.</li> 
                            <li>Asegúrese de evitar lo siguiente en la zona afectada:</li>
                            <ul class="left-side">
                                <li>Saunas, duchas o baños de agua caliente prolongados y jacuzzis.</li>
                                <li>Almohadillas térmicas en la zona tratada.</li>
                                <li>Ropa ajustada o joyas.</li>
                                <li>Tatuajes y perforaciones en la zona afectada.</li>
                                <li>Tomarse la presión o sacarse sangre.</li> 
                            </ul>                             
                        </ul>
                        <li>Manténgase sano:</li>
                        <ul class="left-side">
                            <li>Lávese las manos con frecuencia durante el día.</li>
                            <li>Lleve una dieta bien balanceada y nutritiva.</li>
                            <li>Preste atención a los signos de infección, como la fiebre y el enrojecimiento, y consulte a su médico de inmediato.</li>
                            <li>Haga actividad física a menudo.</li>  
                            <ul class="left-side"> 
                                <li>Agregue ejercicio con pesas de forma gradual.</li> 
                                <li>Caminar, nadar, hacer yoga y andar en bicicleta son buenos ejercicios.</li>
                            </ul>
                        </ul> 

                    </ul>
                    <p class="detail-pera">Para saber más sobre el linfedema, haga clic en los siguientes enlaces:</p>
                     <ul class="left-side">
                    <li><a (click)="logWebsite('https://www.cancer.net/es/asimilación-con-cáncer/efectos-f%C3%ADsicos-emocionales-y-sociales-del-cáncer/manejo-de-los-efectos-secundarios-f%C3%ADsicos/acumulación-de-l%C3%ADquido-o-linfedema')" href="https://www.cancer.net/es/asimilación-con-cáncer/efectos-f%C3%ADsicos-emocionales-y-sociales-del-cáncer/manejo-de-los-efectos-secundarios-f%C3%ADsicos/acumulación-de-l%C3%ADquido-o-linfedema" target="_blank">Acceda a Cancer.net para conocer más información</a></li>
                    <li><a (click)="logWebsite('https://survivorship.cancer.gov/springboard/symptoms/lymphedema')" href="https://survivorship.cancer.gov/springboard/symptoms/lymphedema" target="_blank">Acceda a Springboard Beyond Cancer para obtener más detalles:</a></li>
                    </ul>
                    <img src="assets/img/Lymphedema_B.jpg" class="mt-20" width="100%" />
                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">Todos los síntomas</p> 
                    <ul class="right-side-list">
                        <li><a href="#/symptom-library-pain">Dolor</a></li>
                        <li><a href="#/symptom-library-fatigue">Fatiga</a></li>
                        <li><a href="#/symptom-library-depression">Tristeza</a></li>
                        <li><a href="#/symptom-library-anxiety">Ansiedad</a></li> 
                        <li><a href="#/symptom-library-insomnia">Insomnio</a></li>
                        <li><a href="#/symptom-library-physicalfunction">Función física</a></li>
                        <li><a href="#/symptom-library-nausea">Náuseas y vómitos</a></li>
                        <li><a href="#/symptom-library-sexlife">Cambios en su vida sexual</a></li>
                        <li><a href="#/symptom-library-breath">Falta de aire</a></li>
                        <li><a href="#/symptom-library-constipation">Estreñimiento</a></li>
                        <li><a href="#/symptom-library-diarrhea">Diarrea</a></li>
                        <li><a href="#/symptom-library-neuropathy">Neuropatía periférica</a></li>
                        <li class="active"><a href="#/symptom-library-lymphedema">Linfedema</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
