<div id="healthy-foods" class="">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tablero</a></li>
              <li class="breadcrumb-item d-none"><a href="#">...</a></li>
              <li class="breadcrumb-item mob-hidden"><a href="#/patient-resources">Recursos para pacientes</a></li>
              <li class="breadcrumb-item"><a href="#/patient-resources/community">Support Services & Resources</a></li>
            <li class="breadcrumb-item active mob-hidden" aria-current="page">Apoyo en línea y por teléfono</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail pt-0">
                    <div class="foods-btn">
                        <a (click)= "toggleFavorite()">{{ isFav ? 'Remove from favorites' : 'Agregar a favoritos' }}<i class="{{isFav ? 'icon-like' : 'icon-my-favorites'}}"></i></a>
                        <a (click)= "logPDF('online.pdf')" href="assets/pdf/online.pdf" target='_blank'>Descargar pdf <i class="icon-pdf"></i> </a>
                    </div>
                    <h2>Apoyo en línea y por teléfono</h2>
                    <span>Escuche el audio completo de esta página a continuación</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/740770405%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br> <br>
                    <p class="detail-pera">Organizaciones como la Sociedad Americana contra el Cáncer proporcionan información sobre el cáncer, recursos útiles y servicios de apoyo sin costo en línea y por teléfono. Algunas organizaciones prestan servicios a las personas que viven con cualquier tipo de cáncer, mientras que otras ofrecen recursos para personas con tipos específicos de cáncer o necesidades particulares.</p>

                    <p class="semibold-text pt-pb">Apoyo para cualquier tipo de cáncer</p>

                    <p>Las siguientes organizaciones disponen de sitios web y líneas telefónicas directas para ayudarlo a conocer más sobre su diagnóstico de cáncer, sus opciones de tratamiento y los recursos disponibles:</p>
                    <ul class="left-side">
                        <li><a (click)="logWebsite('https://www.cancer.org/es/')" href='https://www.cancer.org/es/' target='_blank'>Sociedad Americana contra el Cáncer (American Cancer Society, ACS)</a>*</li>
                        <li><a (click)="logWebsite('https://www.cancer.gov/espanol')" href='https://www.cancer.gov/espanol' target='_blank'>Instituto Nacional del Cáncer (National Cancer Institute, NCI)</a>*</li>
                        <li><a (click)="logWebsite('https://survivorship.cancer.gov')" href='https://survivorship.cancer.gov' target='_blank'>Springboard Beyond Cancer</a></li> 
                        <li><a (click)="logWebsite('https://www.cancer.net/es')" href='https://www.cancer.net/es' target='_blank'>Cancer.net</a> (Sociedad Americana de Oncología Clínica)</li>
                        <li><a (click)="logWebsite('https://www.nccn.org/patients/default.aspx')" href='https://www.nccn.org/patients/default.aspx' target='_blank'>Red Nacional Integral del Cáncer (National Comprehensive Cancer Network, NCCN)</a></li>
                    </ul>
                    *Servicios ofrecidos en inglés y español

                    <p class="semibold-text pt-pb">Apoyo para tipos específicos de cáncer</p>
                    <p class="detail-perab">Muchas organizaciones se dedican a proporcionar información, recursos y apoyo a quienes viven con un tipo específico de cáncer.  Algunas ofrecen servicios tanto en inglés como en español. Para ver una lista de las organizaciones que se dedican a tipos específicos de cáncer, <a (click)="logWebsite('https://www.cancer.net/coping-with-cancer/finding-support-and-information/cancer-specific-resources')" href='https://www.cancer.net/coping-with-cancer/finding-support-and-information/cancer-specific-resources' target='_blank'>haga clic aquí</a>.</p>

                    <p class="semibold-text  pt-pb">Apoyo para adultos jóvenes con cáncer</p>
                    <p class="detail-pera">Las personas con cáncer entre los 20 y 30 años se enfrentan a desafíos particulares. Para ver una lista de los programas específicos y las comunidades de apoyo para los adultos jóvenes con cáncer, <a (click)="logWebsite('https://www.cancer.net/navigating-cancer-care/young-adults-and-teenagers/resources-young-adults-with-cancer')" href='https://www.cancer.net/navigating-cancer-care/young-adults-and-teenagers/resources-young-adults-with-cancer' target='_blank'>haga clic aquí</a>.</p>

                    <img src="assets/img/SupportOnlinebyPhone_B.jpeg" class="mt-20" width="100%" />
                </div>   
            </div> 
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail pb-0 border-top">
                    <p class="semibold-text light-height">Support Services & Resources</p> 
                    <ul class="right-side-list mt-20"> 
                        <li><a [routerLink]="'/patient-resources/community/local'">Grupos de apoyo y comunidades locales</a></li>
                        <li class="active" ><a [routerLink]="'/patient-resources/community/online'">Apoyo en línea y por teléfono</a></li>
                        <li><a [routerLink]="'/patient-resources/community/oncology'">Oncología de apoyo en Northwestern Medicine</a></li>
                        <li><a [routerLink]="'/patient-resources/community/survivors'">Apoyo individual brindado por sobrevivientes de cáncer</a></li><br><br>
                        <li><a [routerLink]="'/patient-resources/community'"> < REGRESAR A Support Services & Resources </a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
