<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Tablero</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Biblioteca de síntomas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Fatigue</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Fatigue</h2>
                    <span>Escuche el audio completo de esta página a continuación</span>
                    <img src="assets/img/stript.png" class="d-none" width="100%" />
                     <img src="assets/img/stript-mob.png" class="mob-none" width="100%" />
                    <br> <br>
                    <p class="detail-pera">Cancer or cancer treatment may cause fatigue. This fatigue feels like persistent physical, emotional, and mental exhaustion. It is different than feeling tired after not getting enough rest.</p>
                    <ul class="left-side">
                        <li>It interferes with daily life.</li>
                        <li>It does not match the person’s level of activity.</li>
                        <li>It does not improve with rest.</li>
                    </ul><br>
                    <p class="detail-pera">People who have or had cancer will have fatigue that lasts months or years after finishing treatment. People with cancer, especially those who are older, may have other health conditions including heart disease, arthritis, reduced lung or kidney function, etc., that may impact energy level. If you experience fatigue, talk with your health care team. Share any new symptoms or changes in symptoms.</p><br>

                    <p class="semibold-text">Medical Conditions that contribute to your fatigue may include the following:</p><br>
                    <ul class="left-side">
                        <li>Living with constant pain is often exhausting and many medicines prescribed for pain cause drowsiness and fatigue.</li>
                        <li>Depression, anxiety, and stress can increase exhaustion and complicate treatment.</li>
                        <li>Insomnia, having trouble falling a sleep or staying a sleep. Some medicines disturb normal sleep patterns.</li>
                        <li>Poor.</li>
                        <li>Anemia, can be common in cancer patients, is a decrease in the amount of red blood cells you have. Patients with anemia may feel extreme and overwhelming fatigue.</li>
                    </ul>
                    <br>    
                    <p class="semibold-text">Certain treatment types contribute to fatigue. For example, people commonly experience fatigue at these times:</p><br>
                    <ul class="left-side">
                        <li>A few days after chemotherapy</li>
                        <li>A few weeks after beginning radiation therapy</li>
                        <li>After immunotherapy.</li>
                    </ul><br>
                    
                    <p class="semibold-text">Strategies to Try at Home</p><br>
                    <p>If you experience fatigue, try the following tips: </p><br><p>Rest, but not too much.</p>
                    <ul class="left-side">
                        <li>Plan your day so you have time to rest between activities.</li>
                        <li>Take short naps or rest breaks (less than an hour). Longer naps can lower your energy level and make
it harder to sleep at night.</li>
                        <li>Try to sleep 7-8 hours each night, and go to sleep and wake up at the same time each day. Having
a regular sleep schedule helps you get enough sleep at night.</li>
                    </ul><br>
                    
                    <p>Stay active.</p>
                    <ul class="left-side">
                        <li>Regular exercise, especially walking, is a good way to ease fatigue. It may also help you sleep better.</li>
                        <li>Try a new exercise such as swimming or even dancing. Remember to check with your doctor before
starting a new type of exercise.</li>
                        <li>Multiple short sessions (5-10) minutes of exercising throughout the day can help keep energy levels
up and prevent exhaustion.</li>
                        <li>Start by exercising for 10 minutes 1-3 times per week, and then add 5-10 minutes to your exercise
sessions each week to gradually reach the physical activity recommendations of 150 minutes per week.</li>
                    </ul><br>
                    
                    <p>Save your energy.</p>
                    <ul class="left-side">
                        <li>Each day, prioritize. Decide which activities are the most important to you, and focus on those.</li>
                        <li>Ask friends and family for help with things you find too tiring or hard to do. This could include preparing meals, doing housework, or running errands.</li>
                        <li>Don’t push yourself by standing too long. Even long, hot showers or baths can drain your energy. Sit when
you can, and rest in between activities.</li>
                    </ul><br>
                    
                    <p>Think about joining a support group</p>
                    <ul class="left-side">
                        <li>Talking about your fatigue with other people who have the same problem can be helpful.</li>
                    </ul>
                    
                    <p>Dietary Tips to Manage Fatigue:</p><br>
                    <p>Like many other side effects, you can manage fatigue to some extent through managing your diet. This includes staying hydrated by drinking 8-10 8-ounce glasses of non-caffeinated liquids each day. Another way to fight fatigue is to eat foods high in iron.</p><br>
                    
                    <p class="semibold-text">High iron food sources:</p>
                    
                    <div class="col-md-6 pl-pr-0">
                        <div class="stript-box">
                            Animal Sources
                        </div>
                        <p class="mt-mb">Cuttlefish;  Oysters;  Mussels;  Crab;  Clams;  Beef;  Lamb;  Anchovy; Chicken;  Turkey;  Pork;  Eggs;  Salmon;  Scallops;  Shrimp </p>
                    </div>
                    <div class="col-md-6 pl-pr-0">
                        <div class="stript-box">
                            Non-Animal Sources
                        </div>
                        <p class="mt-mb">Certain cereals, including Grapenuts®, Multigrain Cheerios®, Cream of Wheat®, and Fiber One®;  Sesame seeds;  Dried apricots;  Lima, kidney or black beans;  Mixed nuts;  Walnuts;  Sunflower seeds;  Cooked spinach;  Dark chocolate;  Raisins;  Dried figs;  Chick peas;  Wheat Bread;  Molasses;</p>                    
                    </div><br>
                    <p class="semibold-text">How Your Care Team can Help</p><br>  
                        <p>Fatigue in cancer patients is often treated by relieving related conditions such as:</p>
                        <ul>
                            <li>Treatment of anemia</li>
                            <li>Treatment of pain</li>
                            <li>Treatment of depression</li>
                        </ul><br>
                        
                        <p>Treating anemia may help decrease fatigue. When known, the cause of the anemia is treated. When the cause is not known, treatment for anemia is supportive care and may include the following:</p>
                        <ul>
                            <li>Transfusions of red blood cells works well to treat anemia.</li>
                        </ul><br>
                        
                        <p>Side effects of transfusions include an allergic reaction, infection, graft-versus-host disease, immune system changes, and too much iron in the blood.</p>
                        <ul>
                            <li>Epoetin alfa and darbepoetin alfa are two of drugs that cause the bone marrow to make more red blood
cells. This may be used to treat anemia-related fatigue in patients receiving chemotherapy.Side effects of these drugs are it may shorten survival time, increase the risk of serious heart problems,and cause some tumors to grow faster or recur. Discuss the risks and benefits of these drugs with your doctor.</li>
                        </ul>
                        <br>
                        <p>If pain is making fatigue worse, the patient’s pain medicine may be changed or the dose may be increased. If too much pain medicine is making fatigue worse, the patient’s pain medicine may be changed or the dose may be decreased. See the section on “Pain-How Your Care Team can Help ” to learn more about the different pain medications that a doctor can prescribe.</p><br>
                        
                        <p>Fatigue in patients who have depression may be treated with antidepressant drugs.</p>
                        <ul class="left-side">
                            <li>Psychostimulant drugs may help some patients have more energy and a better mood, and help them think and concentrate.</li>
                        </ul>
                         <br>
                        <p>Side effects of psychostimulants include trouble sleeping, nightmares, serious heart problems, mood changes, anxiety, and nausea.</p>
                        <br> 
                        <p>To learn more about fatigue click on the links below:</p><br>
                        
                        <div class="col-md-9">
                            <img src="assets/img/ico1.png" class="pull-left left-img" />
                            <p class="semibold-text">Lorem ipsum dolor</p>
                            <p>Cras lorem dui, imperdiet at mi ac, facilisis pretium orci.</p>
                        </div>
                        <div class="col-md-3">
                            <button class="btn-secondary" type="submit">Play Video</button>
                        </div>
                        
                        <div class="col-md-9">
                            <img src="assets/img/ico2.png" class="pull-left left-img" />
                            <p class="semibold-text">Lorem ipsum dolor</p>
                            <p>Cras lorem dui, imperdiet at mi ac, facilisis pretium orci.</p>
                        </div>
                        <div class="col-md-3">
                            <button class="btn-secondary" type="submit">read article</button>
                        </div>
                    
                        <div class="col-md-9">
                            <img src="assets/img/ico3.png" class="pull-left left-img" />
                            <p class="semibold-text">Lorem ipsum dolor</p>
                            <p>Cras lorem dui, imperdiet at mi ac, facilisis pretium orci.</p>
                        </div>
                        <div class="col-md-3">
                            <button class="btn-secondary" type="submit">view website</button>
                            <span class="border"></span>
                        </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">Todos los síntomas</p> 
                    <ul class="right-side-list">
                        <li><a href="#">Pain</a></li>
                        <li class="active"><a href="#">Fatigue</a></li>
                        <li><a href="#">Depression</a></li>
                        <li><a href="#">Anxiety</a></li> 
                        <li><a href="#">Insomnia</a></li>
                        <li><a href="#">Physical Function</a></li>
                        <li><a href="#">Nausea</a></li>
                        <li><a href="#">Vomiting</a></li>
                        <li><a href="#">Shortness of Breath</a></li>
                        <li><a href="#">Constipation</a></li>
                        <li><a href="#">Diarrhea</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
