<div id="healthy-foods" class="">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tablero</a></li>
            <li class="breadcrumb-item d-none"><a href="#">...</a></li>
            <li class="breadcrumb-item mob-hidden"><a href="#/patient-resources">Recursos para pacientes</a></li>
            <li class="breadcrumb-item"><a href="#/patient-resources/diet-nutrition">Dieta y nutrición</a></li>
            <li class="breadcrumb-item active mob-hidden" aria-current="page">Cómo manejar la falta de apetito</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail pt-0">
                    <div class="foods-btn">
                        <a (click)= "toggleFavorite()">{{ isFav ? 'Quitar de favoritos' : 'Agregar a favoritos' }}<i class="{{isFav ? 'icon-like' : 'icon-my-favorites'}}"></i></a>
                        <a (click)= "logPDF('loss-appetite.pdf')" href="assets/pdf/loss-appetite.pdf" target='_blank'>Descargar pdf <i class="icon-pdf"></i> </a>
                    </div>
                    <h2>Cómo manejar la falta de apetito</h2>
                    <span>Escuche el audio completo de esta página a continuación</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/906605827%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br><br>
                    <p class="detail-pera">Es posible que pierda el apetito cuando tenga náuseas o problemas en la boca o la garganta que hacen que sea difícil o doloroso comer o pasar los alimentos.  Además, algunos medicamentos pueden hacer que pierda el gusto por los alimentos o que ciertos alimentos tengan un sabor diferente. En esta sección aprenderá a manejar la falta de apetito.</p>
                    <p class="detail-pera">Incluso si no tiene apetito, es importante que coma bien, como comer y beber alimentos que tengan muchas proteínas, nutrientes y calorías.</p>
                    <p class="detail-pera">Estas son algunas estrategias que pueden ayudar a controlar la falta de apetito:</p>
                    <ul class="left-side">
                        <li>Coma 5 o 6 comidas pequeñas o aperitivos al día, en vez de 3 comidas abundantes.</li> 
                        <li>Elija bebidas o alimentos ricos en calorías y proteínas.</li> 
                        <li>Si no quiere comer alimentos sólidos, toma batidos, licuados, jugos o sopas.</li>
                        <li>Fije un horario diario para comer.</li> 
                        <li>Algunos tipos de quimioterapia provocan un sabor metálico en la boca. Si este es el caso, use tenedores y cucharas de plástico para disminuir el sabor metálico.</li>
                    </ul>
                    <img src="assets/img/DealingwithLossofAppetite_B.jpg" class="mt-20" width="100%" />
                </div>   
            </div> 
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail pb-0 border-top">
                    <p class="semibold-text light-height">Dieta y nutrición</p> 
                    <ul class="right-side-list mt-20">
                        <!--   
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/balanced-diet'">Maintaining a Balanced Diet</a></li>
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/healthy-eating'">Importance of Healthy Eating</a></li>
                        -->
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/healthy-foods'">Alimentos saludables</a></li>
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/weight-gain'">Cómo controlar el aumento de peso</a></li> 
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/weight-loss'">Cómo manejar la pérdida de peso</a></li>
                        <li class="active" ><a [routerLink]="'/patient-resources/diet-nutrition/loss-of-appetite'">Cómo manejar la falta de apetito</a></li>
                        <li><a [routerLink]="'/patient-resources/diet-nutrition/nutrition-tips'">Consejos de nutrición</a></li>
                        <br><br>
                        <li><a [routerLink]="'/patient-resources/diet-nutrition'"> < REGRESAR A Dieta y nutrición</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
