<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Tablero</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Biblioteca de síntomas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Tristeza</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Tristeza</h2>
                    <div class="foods-btn">
                    <a class="foods-btn" (click)= "logPDF('symptom-library-depression.pdf')" href="assets/pdf/symptom-library-depression.pdf" target='_blank'>Descargar pdf <i class="icon-pdf"></i> </a> 
                    </div>
                    <span>Escuche el audio completo de esta página a continuación</span>
                    <img src="assets/img/stript.png" class="d-none" width="100%" />
                     <img src="assets/img/stript-mob.png" class="mob-none" width="100%" />
                    <br> <br>
                    <p class="detail-pera">Algunas personas manifiestan que sienten tristeza o incluso depresión durante o después del cáncer. Algunos pueden sentir que han perdido su salud y la vida que tenían antes del cáncer. Después del tratamiento, es posible que se siga sintiendo triste y esto es normal. Puede llevar un tiempo aceptar todos los cambios que atravesó su cuerpo, su familia e incluso su vida laboral.</p>
                    <p class="detail-pera">Si presenta alguno de los siguientes síntomas durante más de 2 semanas, hable con su médico sobre algún tratamiento para sentirse mejor. Estas son algunas características comunes de la depresión:</p>
                    <ul class="left-side">
                        <li>Sentimientos de tristeza que no desaparecen</li>
                        <li>Sensación de culpa o que no valgo la pena</li> 
                        <li>Sentimiento de impotencia o desesperación, como si la vida no tuviera sentido</li>
                        <li>Llanto prolongado o muchas veces al día</li>
                        <li>Sensación de cansancio extremo (fatiga)</li>
                        <li>Intención de evitar situaciones sociales</li>
                        <li>Dificultad para disfrutar las cosas cotidianas, como la comida o pasar tiempo con la familia y los amigos</li>
                        <li>Pensamiento de hacerse daño a sí mismo</li>
                    </ul>
                    <p class="detail-pera">Las causas comunes de la depresión pueden incluir:</p>
                    <ul class="left-side">
                        <li>Diagnóstico de cáncer</li>
                        <li>Antecedentes familiares de depresión</li>
                        <li>Condiciones médicas: Niveles anormales de calcio, sodio o potasio en la sangre o anemia</li>
                        <li>Efectos secundarios de ciertos medicamentos</li>
                        <li>Estrés causado por acontecimientos de la vida distintos del cáncer</li>
                    </ul>
                    <br>    
                    <p class="semibold-text pt-pb">Estrategias de autocuidado</p>
                    <p class="detail-pera">A continuación se presentan algunas estrategias que se pueden incorporar en la vida cotidiana en casa para aliviar los síntomas de la depresión:</p>
                    <ul class="left-side">
                        <li>Evite el consumo de alcohol.</li>
                        <li>Hacer ejercicio puede mejorar el estado de ánimo. Haga ejercicio varias veces a la semana. Comience haciendo 10 minutos, 2 o 3 veces por semana y luego agregue entre 5 y 10 minutos a sus sesiones de entrenamiento cada semana. Siempre consulte a su médico antes de empezar una rutina de ejercicios nueva.</li>
                        <li>Puede ser útil expresar o compartir sentimientos como la tristeza con los demás. Hable con su familia o amigos más cercanos sobre cómo se siente.</li>
                        <li>Asegúrese de dedicar tiempo cada día a hacer cosas que lo hagan feliz. Aunque se sienta triste, es importante seguir haciendo algunas de las actividades que le parecen divertidas. Estas actividades pueden ayudar a mejorar su estado de ánimo.</li>
                        <li>Únase a un grupo de apoyo y hable con personas que pasaron por el mismo tratamiento contra el cáncer. Para ciertas personas, los grupos de apoyo sirven para conocer gente y relacionarse con otros sobrevivientes de cáncer que comparten experiencias similares.</li>
                        <li>Escriba sus sentimientos o inquietudes en un diario o cuaderno. Esto puede ayudarlo a sentirse mejor.</li> 
                        <li>Pruebe ejercicios de relajación y respiración profunda.</li>
                        <li>Utilice la meditación, la oración o algún otro tipo de apoyo espiritual.</li>
                        <li>Pídale a su médico una referencia para ver a un proveedor de atención de la salud mental autorizado.</li>  
                    </ul><br>
                    
                    <p class="semibold-text pt-pb">Cómo puede ayudar su equipo de atención médica</p>
                    <p class="detail-pera">Si se siente deprimido, dígaselo a su médico. Recuerde que obtener la ayuda que necesita es importante para su salud. Recibir tratamiento para la depresión también puede mejorar sus actividades cotidianas, hacer que se sienta más productivo en el trabajo y mejorar el tiempo que pasa con su familia y amigos. El tratamiento también lo ayudará a tener pensamientos más positivos que reemplazarán los pensamientos negativos a medida que siga mejorando.</p>
                    <p class="detail-pera">Los antidepresivos aumentan la cantidad de sustancias químicas en el cerebro que regulan el estado de ánimo. Las principales sustancias químicas del cerebro que regulan el estado de ánimo son la serotonina, la dopamina y la norepinefrina.  Existen distintos tipos de antidepresivos que son eficaces para tratar la depresión que se manifiesta junto con el cáncer. Los antidepresivos suelen tardar entre 2 y 4 semanas en empezar a aliviar los síntomas de la depresión.</p>
                    <p class="detail-pera">Inhibidores selectivos de la recaptación de serotonina (ISRS)</p>
                    <ul class="left-side">
                        <li>Los ISRS permiten que el cuerpo acumule niveles de serotonina para mejorar el estado de ánimo.</li>
                        <li>Algunos tipos de ISRS aumentan la norepinefrina y la serotonina.</li>
                    </ul>
                    <p class="detail-pera">Inhibidores de la recaptación de serotonina y norepinefrina (IRSN)</p>
                    <ul class="left-side">
                        <li>Los IRSN aumentan la norepinefrina y la serotonina.</li>
                        <li>Algunos tipos de IRSN incluyen Effexor y Cymbalta.</li>
                    </ul>                    
                    <p class="detail-pera">Inhibidores de la recaptación de serotonina y antagonistas (IRSA)</p>
                    <ul class="left-side">
                        <li>Los IRSA también aumentan los niveles de serotonina.</li>
                        <li>Algunos tipos de IRSA incluyen Serzone y Desyrel.</li>
                    </ul>
                    <p class="detail-pera">Tricíclicos</p>
                    <ul class="left-side">
                        <li>Los tricíclicosson los antidepresivos más antiguos, aumentan la serotonina y la norepinefrina.</li>
                        <li>Algunos tipos de tricíclicos son los siguientes: Elavil, Tofranil, Pamelor, Norpramin y Anafranil, entre otros.</li>
                    </ul>                    
                    <p class="detail-pera">Inhibidores de la monoaminooxidasa (IMAO)</p>
                    <ul class="left-side">
                        <li>Los IMAO se usan pocas veces en pacientes con cáncer porque suelen interactuar con otros fármacos y alimentos.</li>
                        <li>Algunos IMAO son los siguientes: Nardil y Parnate.</li>
                    </ul>
                    <p class="detail-pera">Antidepresivos serotoninérgicos y noradrenérgicos específicos (NaSSA)</p>
                    <ul class="left-side">
                        <li>NASSAs son tratamientos nuevos y prometedores para tratar la depresión, la ansiedad y el insomnio.</li>
                        <li>Un tipo de NaSSA es Remeron.</li>
                    </ul>
                    <p class="detail-pera">Inhibidores de la recaptación de norepinefrina y dopamina (IRND)</p>
                    <ul class="left-side">
                        <li>Los IRND son una buena opción para las personas que no responden a los ISRS, experimentan efectos secundarios o tienen problemas sexuales.</li>
                        <li>Un tipo de IRND es Wellbutrin.</li>
                    </ul>
                    <p class="detail-pera">Estimulantes</p>
                    <ul class="left-side">
                        <li>En casos especiales, se pueden usar dosis bajas de estimulantes para tratar la depresión en pacientes con cáncer. Se pueden recetar cuando los antidepresivos convencionales provocan efectos secundarios demasiado difíciles de tolerar.</li>
                        <li>Pueden dar una sensación de bienestar, reducir la fatiga y aumentar el apetito.  Pueden ayudar a controlar el efecto sedante de los opiáceos.</li>
                        <li>Nombres de medicamentos comunes: metilfenidato (Ritalin), modafinilo (Provigil) y dextroanfetamina (Dexedrine).</li>
                    </ul>
                    <p class="detail-pera">Para conocer más sobre la depresión haga clic en los siguientes enlaces:</p>
                     <ul class="left-side">
                    <li><a (click)="logWebsite('https://www.cancer.net/es/asimilación-con-cáncer/manejo-de-las-emociones/depresión')" href="https://www.cancer.net/es/asimilación-con-cáncer/manejo-de-las-emociones/depresión" target="_blank">Acceda a Cancer.net para obtener más información</a></li>
                    <li><a (click)="logWebsite('https://survivorship.cancer.gov/springboard/stress-mood/depression')" href="https://survivorship.cancer.gov/springboard/stress-mood/depression" target="_blank">Acceda a Springboard Beyond Cancer para obtener más información</a></li>
                    </ul>
                    <img src="assets/img/Sadness_B.jpg" class="mt-20" width="100%" />
                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">Todos los síntomas</p> 
                    <ul class="right-side-list">
                        <li><a href="#/symptom-library-pain">Dolor</a></li>
                        <li><a href="#/symptom-library-fatigue">Fatiga</a></li>
                        <li class="active"><a href="#/symptom-library-depression">Tristeza</a></li>
                        <li><a href="#/symptom-library-anxiety">Ansiedad</a></li> 
                        <li><a href="#/symptom-library-insomnia">Insomnio</a></li>
                        <li><a href="#/symptom-library-physicalfunction">Función física</a></li>
                        <li><a href="#/symptom-library-nausea">Náuseas y vómitos</a></li>
                        <li><a href="#/symptom-library-sexlife">Cambios en su vida sexual</a></li>
                        <li><a href="#/symptom-library-breath">Falta de aire</a></li>
                        <li><a href="#/symptom-library-constipation">Estreñimiento</a></li>
                        <li><a href="#/symptom-library-diarrhea">Diarrea</a></li>
                        <li><a href="#/symptom-library-neuropathy">Neuropatía periférica</a></li>
                        <li><a href="#/symptom-library-lymphedema">Linfedema</a></li>                       
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
