<div class="container mr-150">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Tablero</a></li>
	    <li class="breadcrumb-item"><a [routerLink]="'/patient-resources'">Recursos para pacientes</a></li>
	    <li class="breadcrumb-item active mob-hidden" aria-current="page">Cuestiones prácticas y financieras</li>
	  </ol>
	</nav> 
	<div class="top-content pd-top-22 clearfix">
		<div class="row">
			<div class="col-md-4 border-right">
			   	<h2 class="bold-text center-text">Cuestiones prácticas y financieras</h2>
			</div>
			<div class="border"></div>
			<div class="col-md-8">
				<p class="top-head-2">Administrar las finanzas y otras cuestiones prácticas como el seguro, el transporte y el trabajo pueden ser un desafío para todos, pero podrían ser especialmente difíciles ante un diagnóstico de cáncer. Los expertos en su centro de tratamiento y ciertas organizaciones nacionales sin fines de lucro están disponibles para ayudarlo.</p>
			</div>
		</div>	
	</div>
	<div class="content-grid clearfix row ">
		<div class="col-md-4 fav-item" *ngFor="let cardsrc of card1">
			<mat-card >
			  <img mat-card-image [src]="cardsrc.src" alt="Photo of a Shiba Inu">
			  <mat-card-content><span (click)= "saveFavorite(cardsrc.label)" class="icon-my-favorites"></span>
			  	<h4 class="card-title font-20">{{cardsrc.label}}</h4>
			  </mat-card-content>
			  <mat-card-content>
				  <p class="card-details">
				  	{{cardsrc.text}}
				  </p>
			   </mat-card-content> 
			  <mat-divider></mat-divider>
			  <mat-card-actions>
			    <a [routerLink]="['/',cardsrc.route,cardsrc.route2,cardsrc.route3]"><i class="material-icons">arrow_forward </i>Leer Más</a>
			  </mat-card-actions>
			</mat-card>
		</div>
	</div>  
</div>