<div id="content-detail" class="content-d">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Tablero</a></li>
              <li class="breadcrumb-item"><a [routerLink]="'/symptom-library'">Biblioteca de síntomas</a></li>
            <li class="breadcrumb-item active" aria-current="page">Función física</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail"> 
                    <h2>Función física</h2>
                    <div class="foods-btn">
                    <a class="foods-btn" (click)= "logPDF('symptom-library-physicalfunction.pdf')" href="assets/pdf/symptom-library-physicalfunction.pdf" target='_blank'>Descargar pdf <i class="icon-pdf"></i> </a> 
                    </div>
                    <span>Escuche el audio completo de esta página a continuación</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/906547342%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br> <br>
                    <p class="detail-pera">Durante y después del tratamiento de cáncer podría notar cambios en su fortaleza, balance y habilidad para moverse. Estos cambios pueden afectar tareas básicas como bañarse y cambiarse, así como actividades diarias más extenuantes como ir de compras, cargar objetos y hacer ejercicio.</p>
                    <p class="detail-pera">Las causas comunes de las limitaciones físicas:</p>
                    <ul class="left-side">
                        <li>Efectos físicos de la cirugía, radiación y quimioterapia.</li>
                        <li>Linfedema que es una acumulación de líquidos (por lo general en los brazos y en las piernas) que puede causar inflamación y limitar los movimientos o el rango de moción.</li>  
                        <li>Los síntomas relacionados con el cáncer son el dolor, la fatiga, la depresión y los trastornos del sueño.</li> 
                    </ul>
                    <p class="detail-pera">Mientras los cambios en la función física debido al cáncer son temporales, a veces persisten tras el tratamiento. Afortunadamente, hay estrategias disponibles para ayudar.</p>

                    <p class="semibold-text pt-pb">Estrategias para intentar en casa</p>
                    <p class="detail-pera">Ejercicio físico</p>
                    <p class="detail-pera">El ejercicio físico no puede parecer una buena idea cuando se siente débil o tiene dificultad para moverse. Sin embargo, un poco de actividad física puede ayudarlo/la a sentirse más fuerte y a facilitar la tolerancia a los efectos secundarios del tratamiento.</p>
                    <p class="detail-pera">Si es nuevo/a al ejercicio físico, o no ha hecho ejercicio físico por un tiempo, comience con una caminata corta alrededor de la casa.  Otras maneras simples de agregarle ejercicio físico a su rutina diaria son:</p>
                    <ul class="left-side">
                        <li>Andar en bicicleta.</li> 
                        <li>Jugar con los niños o los nietos.</li>
                        <li>Usar las escaleras en vez del ascensor.</li>
                        <li>Estacionar su auto más lejos y caminar hasta el edificio (o bajarse antes de una parada de tránsito).</li>
                        <li>Mientras mira la TV, levante y baje los brazos y piernas, o haga círculos con los brazos, agáchese o haga sentadillas.</li>
                    </ul>
                    <p class="detail-pera">Si puede hacer ejercicio físico por unos minutos al día, aún podría beneficiarlo/a. Pruebe periodos cortos de actividad física con descansos frecuentes.</p>
                    <p class="semibold-text pt-pb">Cosas que debe de considerar al planificar un programa de ejercicios:</p>
                    <ul class="left-side">
                        <li>Consulte con su médico o enfermero/a antes de empezar cualquier programa de ejercicios. Pregunte si hay alguna restricción que pueda incrementar el riesgo de caídas o lesiones.</li>
                        <li>Pregunte a su doctor/a si una referencia a fisioterapia puede ayudarlo/la.</li> 
                        <li>Comience lentamente con un programa de ejercicios</li> 
                        <ul class="left-side"> 
                            <li>Comience cada sesión con ejercicios de calentamiento durante 2-5 minutos que consisten en ejercicios aeróbicos de bajo impacto (es decir, caminar y estiramientos ligeros).</li>
                            <li>Termine su sesión con 2 o 5 minutos de Ejercicio aeróbico ligero y ejercicios de estiramiento o flexibilidad.</li>
                            <li>Incluya actividad física con pesas que mantenga su masa muscular y fortaleza ósea como la caminata.</li>
                            <li>Incluya la actividad física que utilice grupos musculares grandes como subir escaleras. Comience con 2 o 3 escalones, arriba y abajo.</li>
                            <li>Incluya ejercicios que puedan mantener o aumentar su flexibilidad y rango de movimiento en sus articulaciones, como yoga o tai chi.</li>
                        </ul>
                        <li>Si tiene mucha fatiga o simplemente no tiene ánimos para hacer ejercicio, puede intentar hacer 5 o 10 minutos de ejercicios de estiramiento cada día o caminar alrededor de la casa. ¡Cualquier actividad es mejor que no hacer nada!</li> 
                        <li>No haga ejercicio que demande un nivel de esfuerzo moderado (como por ejemplo una caminata rápida) sin hablar con su doctor/a.</li>
                        <li>Esté atento a mareos, tobillos hinchados o si tiene dificultad para respirar mientras está en reposo o con una pequeña cantidad de esfuerzo. Informe a su médico si tiene alguno de estos problemas.</li>
                        <li>Tenga un registro del tiempo, la distancia y la frecuencia de ejercicio, o utilice alguna aplicación de los teléfonos inteligentes como MyFitnessPal. Incluya su nivel de esfuerzo (por ejemplo, que tan difícil fue la actividad física para usted). Esto le permitirá controlar su progreso semanal.</li>
                    </ul>
                    <p class="detail-pera">Dispositivos útiles</p>
                    <p class="detail-pera">Los pequeños dispositivos pueden por lo general ayudar si se siente cansado/a o si tiene dificultad para moverse. Un asiento de inodoro elevado y barras de apoyo en el baño, por ejemplo, pueden ayudar cuando se bañe o cuando utilice el inodoro. Las tiendas de elementos de cocina venden aparatos que pueden ayudarlo/la a abrir frascos y botellas difíciles. Si tiene inestabilidad, un bastón o andador puede reducir el riesgo de caídas o hacer posible que participe en más actividades.</p>
                    <p class="detail-pera">Un poco de ayuda de mis amigos/as</p>
                    <p class="detail-pera">Hay momentos en los cuales necesitamos asistencia. Si tiene dificultad en sus tareas diarias, no dude en pedir ayuda a familiares, amigos y otras personas de su comunidad. La mayoría de las personas quieren ayudar y se alegran cuando se les sugiere cosas específicas que pueden hacer (por ejemplo, ir de compras por ti, preparar comidas, llevarlo a las citas).</p>
                    <p class="semibold-text pt-pb">Cómo puede ayudar su equipo de atención médica</p>
                    <p class="detail-pera">Mientras que algunas personas pueden recobrar de forma segura su fuerza y retomar la actividad en casa, muchas personas se benefician de la ayuda de profesionales como los fisioterapeutas, los terapeutas ocupacionales y los especialistas en rehabilitación de cáncer. Su equipo de atención médica lo/la pueden ayudar a decidir si estos servicios podrían beneficiarlo y, cuando sea apropiado, ayudarle con referencias.</p>
                    <ul class="left-side">
                        <li>Los fisioterapeutas tienen un entrenamiento especializado para los efectos posquirúrgicos o tras el tratamiento en la función, la moción, el tejido de la cicatriz, linfedema y el balance. Pueden ayudarlo a desarrollar un programa de ejercicio personalizado para aumentar la fuerza y la resistencia y restablecer el equilibrio.</li>
                        <li>Los terapeutas ocupacionales pueden ayudarlo/la a desarrollar actividades para ser lo más independiente posible con sus actividades diarias.</li> 
                        <li>Los servicios de rehabilitación contra el cáncer incluyen fisioterapia y terapia ocupacional como también otros servicios.</li> 
                        <li>Los terapeutas del habla tienen un entrenamiento especializado en la deglución, la fluidez del lenguaje, la comunicación, y los trastornos del habla debido al cáncer y a su tratamiento. También están entrenados para llevar a cabo las pruebas de deglución que ayudan a diagnosticar y tratar problemas de deglución que pueden ocurrir en algunas personas bajo tratamiento para el cáncer.</li> 
                        <li>Los terapeutas certificados en linfedema tienen un tratamiento especializado en el manejo de linfedema, una subespecialidad en la rehabilitación del cáncer.</li> 
                        <li>Los terapeutas certificados en manos se han especializado en el entrenamiento de rehabilitación de lesiones y condiciones que involucran las manos, también la neuropatía periférica que afecta sobre todo a las manos.</li>
                    </ul>
                    <img src="assets/img/PhysicalFunction_B.jpg" class="mt-20" width="100%" />
                </div>
            </div>
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail border-top">
                    <p class="semibold-text">Todos los síntomas</p> 
                    <ul class="right-side-list">
                        <li><a href="#/symptom-library-pain">Dolor</a></li>
                        <li><a href="#/symptom-library-fatigue">Fatiga</a></li>
                        <li><a href="#/symptom-library-depression">Tristeza</a></li>
                        <li><a href="#/symptom-library-anxiety">Ansiedad</a></li> 
                        <li><a href="#/symptom-library-insomnia">Insomnio</a></li>
                        <li class="active"><a href="#/symptom-library-physicalfunction">Función física</a></li>
                        <li><a href="#/symptom-library-nausea">Náuseas y vómitos</a></li>
                        <li><a href="#/symptom-library-sexlife">Cambios en su vida sexual</a></li>
                        <li><a href="#/symptom-library-breath">Falta de aire</a></li>
                        <li><a href="#/symptom-library-constipation">Estreñimiento</a></li>
                        <li><a href="#/symptom-library-diarrhea">Diarrea</a></li>
                        <li><a href="#/symptom-library-neuropathy">Neuropatía periférica</a></li>
                        <li><a href="#/symptom-library-lymphedema">Linfedema</a></li>
                        <li><a href="#/symptom-library-mouthsores">Llagas orales</a></li>
                        <li><a href="#/symptom-library-skin">Piel seca, con prurito/ampollada, o dolorosa</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
