<div class="container mr-150">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a [routerLink]="'/dashboard'">Tablero</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Recursos para pacientes</li>
	  </ol>
	</nav>
	<div class="top-content pd-top-22 clearfix">
		<div class="row">
			<div class="col-md-4 border-right">
			   	<h2 class="semibold-text center-text">Recursos para pacientes</h2>
			</div>
			<div class="border"></div>
			<div class="col-md-7">
				<p class="top-head-2">Vea a continuación los recursos importantes que los pacientes encontraron útiles durante su transcurso en el cáncer.</p>
			</div>
		</div>	
	</div>
    
	<div class="content-grid clearfix row">
		<div class="col-md-4 fav-item" *ngFor="let cardsrc of card1">
			<mat-card >
			  <img mat-card-image [src]="cardsrc.src" alt="Photo of a Shiba Inu">
			  <mat-card-content>
			  	<h4 class="card-title">{{cardsrc.label}}</h4>
			  </mat-card-content>
			  <mat-card-content>
				  <p class="card-details">
				  	{{cardsrc.text}}
				  </p>
			   </mat-card-content> 
			  <mat-divider></mat-divider>
			  <mat-card-actions>
			    <a [routerLink]="['/',cardsrc.route,cardsrc.route2]"><i class="material-icons">arrow_forward </i>Vea todos los recursos</a>
			  </mat-card-actions>
			</mat-card>
		</div>
	</div>
</div>