<div id="healthy-foods" class="">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tablero</a></li>
              <li class="breadcrumb-item d-none"><a href="#">...</a></li>
              <li class="breadcrumb-item mob-hidden"><a href="#/patient-resources">Recursos para pacientes</a></li>
              <li class="breadcrumb-item"><a href="#/patient-resources/community">Support Services & Resources</a></li>
            <li class="breadcrumb-item active mob-hidden" aria-current="page">Grupos de apoyo y comunidades locales</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail pt-0">
                    <div class="foods-btn">
                        <a (click)= "toggleFavorite()">{{ isFav ? 'Remove from favorites' : 'Agregar a favoritos' }}<i class="{{isFav ? 'icon-like' : 'icon-my-favorites'}}"></i></a>
                        <a (click)= "logPDF('communities.pdf')" href="assets/pdf/communities.pdf" target='_blank'>Descargar pdf <i class="icon-pdf"></i> </a>
                    </div>
                    <h2>Grupos de apoyo y comunidades locales</h2>
                    <span>Escuche el audio completo de esta página a continuación</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/740770405%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br> <br>
                    <p class="detail-pera">Los grupos de apoyo y las comunidades locales para el cáncer ofrecen la posibilidad de participar en actividades divertidas y sanadoras, al mismo tiempo que se relaciona con personas que lo entienden.</p>
                    <p class="detail-pera">Estas comunidades vecinales para el cáncer ofrecen una amplia variedad de eventos y servicios gratuitos o de bajo costo entre los que puede elegir, incluidos grupos de apoyo, clases educativas y actividades grupales para el bienestar:</p>
                    <ul class="left-side">
                        <li><a (click)="logWebsite('https://www.gildasclubchicago.org/get-support/programs/para-español')" href='https://www.gildasclubchicago.org/get-support/programs/para-español' target='_blank'>Gilda’s Club* (centro de Chicago)</a></li>
                        <li><a (click)="logWebsite('https://www.cancerwellness.org')" href='https://www.cancerwellness.org' target='_blank'>Cancer Wellness Center (suburbios del norte)</a></li>
                        <li><a (click)="logWebsite('https://livingwellcrc.org')" href='https://livingwellcrc.org' target='_blank'>LivingWell Cancer Resource Center (suburbios del oeste más alejados)</a></li>
                        <li><a (click)="logWebsite('https://wellnesshouse.org')" href='https://wellnesshouse.org' target='_blank'>Wellness House (suburbios del oeste cercanos)</a></li>
                        <li><a (click)="logWebsite('https://alas-wings.org')" href='https://alas-wings.org' target='_blank'>ALAS-WINGS* servicios para mujeres hispanas/latinas con cáncer de mama (Chicago y localidades suburbanas)</a></li>
                        <li><a (click)="logWebsite('http://cancersupportcenter.org')" href='http://cancersupportcenter.org' target='_blank'>Cancer Support Center (suburbios del sur)</a></li>
                    </ul>
                    *Servicios ofrecidos en inglés y español
                    <img src="assets/img/LocalSupportGroups&Communities_B.jpg" class="mt-20" width="100%" />
                </div>   
            </div> 
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail pb-0 border-top">
                    <p class="semibold-text light-height">Support Services & Resources</p> 
                    <ul class="right-side-list mt-20"> 
                        <li class="active" ><a [routerLink]="'/patient-resources/community/local'">Grupos de apoyo y comunidades locales</a></li>
                        <li><a [routerLink]="'/patient-resources/community/online'">Apoyo en línea y por teléfono</a></li>
                        <li><a [routerLink]="'/patient-resources/community/oncology'">Oncología de apoyo en Northwestern Medicine</a></li>
                        <li><a [routerLink]="'/patient-resources/community/survivors'">Apoyo individual brindado por sobrevivientes de cáncer</a></li><br><br>
                        <li><a [routerLink]="'/patient-resources/community'"> < REGRESAR A Support Services & Resources </a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
