/*
 * Actual Sticky Footer Styles
 */
.all-wrap {
  min-height: 99.5vh;
}

.page-wrap {
  display: flex;
  flex-direction: column;
  min-height: 99.5vh;
}

.content {
  flex: 1;
}
/*
 * Make the Component injected by Router Outlet full height:
 */
main {
  overflow-y: auto;
  padding-top:5px;
}
app-footer {
  margin-top: 2%;
	position: fixed;
	bottom: 0;
	background: #fff;
	width: 100%;
}

.f-header{
  position: fixed;
  width: 100%;
  z-index: 1;
}

@media (max-width: 600px) {
    main {
      padding-top:5px;
    }
}