.resourace-topic{
	display: block;
    width: 100%;
    text-align: right;
}
.resourace-topic span {
	display: inline-block;
    float: left;
    margin: 0;
}
.resourace-topic i {
	display: inline-block;
    margin-top: 8px;
} 
mat-card-content div span{
	font-weight: bold;
}
.icon-my-favorites:before {
    color: #00B4CC;
    display: inline-block;
    float: right;
    font-size: 22px;
}

.fav-item:nth-child(3n+1){
    clear:both;
}

@media (max-width: 540px) {
    .top-head-2 {
        padding-top: 0;
    }
    .mob-hidden {
        display: none
    }
}