<div id="healthy-foods" class="">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tablero</a></li>
              <li class="breadcrumb-item d-none"><a href="#">...</a></li>
              <li class="breadcrumb-item mob-hidden"><a href="#/patient-resources">Recursos para pacientes</a></li>
              <li class="breadcrumb-item"><a href="#/patient-resources/community">Support Services & Resources</a></li>
            <li class="breadcrumb-item active mob-hidden" aria-current="page">Apoyo individual brindado por sobrevivientes de cáncer</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail pt-0">
                    <div class="foods-btn">
                        <a (click)= "toggleFavorite()">{{ isFav ? 'Remove from favorites' : 'Agregar a favoritos' }}<i class="{{isFav ? 'icon-like' : 'icon-my-favorites'}}"></i></a>
                        <a (click)= "logPDF('survivors.pdf')" href="assets/pdf/survivors.pdf" target='_blank'>Descargar pdf <i class="icon-pdf"></i> </a>
                    </div>
                    <h2>Apoyo individual brindado por sobrevivientes de cáncer</h2>
                    <span>Escuche el audio completo de esta página a continuación</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/740770405%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br> <br>
                    <p class="detail-pera">En ocasiones, resulta útil hablar con otra persona que ha tenido cáncer. En esos momentos, se dispone de apoyo individual brindado por sobrevivientes de cáncer que han recibido tratamiento para el mismo tipo de cáncer.</p>
                    <p class="detail-pera">Estas organizaciones locales y nacionales sin fines de lucro pueden ponerse en contacto con un sobreviviente que haya vivido una experiencia similar a la suya.</p>
                    <ul class="left-side ">
                        <li><a (click)="logWebsite('https://www.cancerhopenetwork.org')" href='https://www.cancerhopenetwork.org' target='_blank'>Cancer Hope Network</a></li>
                        <li><a (click)="logWebsite('https://imermanangels.org/imerman-angels-en-espanol/')" href='https://imermanangels.org/imerman-angels-en-espanol/' target='_blank'>Imerman Angels*</a></li>
                    </ul>
                    *Servicios ofrecidos en inglés y español
                    <img src="assets/img/OneonOneSupportfromCancerSurvivors_B.jpg" class="mt-20" width="100%" />
                </div>   
            </div> 
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail pb-0 border-top">
                    <p class="semibold-text light-height">Support Services & Resources</p> 
                    <ul class="right-side-list mt-20"> 
                        <li><a [routerLink]="'/patient-resources/community/local'">Grupos de apoyo y comunidades locales</a></li>
                        <li><a [routerLink]="'/patient-resources/community/online'">Apoyo en línea y por teléfono</a></li>
                        <li><a [routerLink]="'/patient-resources/community/oncology'">Oncología de apoyo en Northwestern Medicine</a></li>
                        <li class="active" ><a [routerLink]="'/patient-resources/community/survivors'">Apoyo individual brindado por sobrevivientes de cáncer</a></li><br><br>
                        <li><a [routerLink]="'/patient-resources/community'"> < REGRESAR A Support Services & Resources </a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
