<div id="healthy-foods" class="">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tablero</a></li>
              <li class="breadcrumb-item d-none"><a href="#">...</a></li>
              <li class="breadcrumb-item mob-hidden"><a href="#/patient-resources">Recursos para pacientes</a></li>
              <li class="breadcrumb-item"><a href="#/patient-resources/well-being">Mejorando su bienestar</a></li>
            <li class="breadcrumb-item active mob-hidden" aria-current="page">Hablar con su equipo de atención médica</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail pt-0">
                    <div class="foods-btn">
                        <a (click)= "toggleFavorite()">{{ isFav ? 'Quitar de favoritos' : 'Agregar a favoritos' }}<i class="{{isFav ? 'icon-like' : 'icon-my-favorites'}}"></i></a>
                        <a (click)= "logPDF('talking.pdf')" href="assets/pdf/talking.pdf" target='_blank'>Descargar pdf <i class="icon-pdf"></i> </a>
                    </div>
                    <h2>Hablar con su equipo de atención médica</h2>
                    <span>Escuche el audio completo de esta página a continuación</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/906585763%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br><br>
                    <p class="detail-pera">Puede ayudar a su equipo de atención médica a brindar la mejor atención posible al comunicarles sus necesidades y conversar con ellos sobre cualquier pregunta o preocupación que pueda tener. Estas son algunas formas sencillas de mejorar la comunicación con su equipo de atención médica.</p>
                    <ul class="left-side">
                        <li>Antes de cada cita médica, haga una lista de preguntas o preocupaciones sobre su enfermedad, plan de tratamiento o efectos secundarios que quiera comentar. Lleve la lista a su cita.</li>
                        <li>Pídale a un familiar o amigo que lo acompañe a las visitas con su proveedor de atención médica. Su familiar o amigo puede tomar notas durante la cita, lo que le permitirá concentrarse en la conversación. Si su familiar o amigo no puede asistir a una cita con usted en persona, puede pedirle que se unan a través del altavoz.</li>  
                    </ul>                    
                    <p class="detail-pera">No dude en hacer preguntas si un miembro de su equipo de atención médica le dice algo que no entiende. Si algo no está claro, intente repetir lo que oyó. Por ejemplo, puede decir: "quiere decir que debería..." o "creo que está sugiriendo que...".</p>
                    <img src="assets/img/TalkingwithYourHealthCareTeam_B.jpg" class="mt-20" width="100%" />
                </div>   
            </div> 
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail pb-0 border-top">
                    <p class="semibold-text light-height">Mejorando su bienestar</p> 
                    <ul class="right-side-list mt-20"> 
                        <li class="active" ><a [routerLink]="'/patient-resources/well-being/talking'">Hablar con su equipo de atención médica</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/social'">Apoyo social</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/stress'">Manejo del estrés</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/physical'">Actividad física</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/problem'">Solución de problemas bajo estrés</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/smokingcessation'">Dejar de fumar y el abuso de sustancias</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/sunprotection'">Protección solar</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/supportive'">Oncología de apoyo y cuidados paliativos</a></li>
                        <br><br>
                        <li><a [routerLink]="'/patient-resources/well-being'"> < REGRESAR A Mejorando su bienestar</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
