<div class="container mr-150">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Tablero</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Biblioteca</li>
	  </ol>
	</nav>

	<div class="top-content pd-top-22 clearfix">
		<div class="row">
			<div class="col-md-12 border-right">
			   	<h2 class="semibold-text center-text">Sobre MyNM Care Corner</h2>
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="mission">
				<h3 class="semibold-text">¡Le doy la bienvenida a My NM Care Corner!</h3>
				<p class="">El sitio web de My NM Care Corner es parte de un estudio de investigación para brindar una experiencia del manejo de síntomas más personalizada para nuestros pacientes. La información de My NM Care Corner la ha desarrollado un equipo de científicos/as, médicos/as, enfermeros/as, psicólogos/as, y trabajadores sociales.</p> 
				<p class="">Para que el sitio web se actualice con sus síntomas específicos, necesitará completar sus cuestionarios de salud. Se puede acceder a los cuestionarios a través de MyChart y se pueden completar en internet utilizando una computadora, un teléfono inteligente o una tableta.</p> 
				<p class="">Haga clic en <a (click)= "logPDF('YourVoiceBetterCare.pdf')" href="assets/pdf/YourVoiceBetterCare.pdf" target='_blank'>este PDF</a> para aprender como completar el cuestionario de salud.</p>
			</div>
		</div>
	</div>
	<div class="study-member">
		<h3 class="semibold-text">Miembro del estudio</h3>
		<div class="content-grid clearfix row" >
			<div class="col-md-3" *ngFor="let cardDeatial of card">
				<img class="study-image" [src]="cardDeatial['src']" width="100%">
				<h4 class="">{{cardDeatial['title']}}</h4>
				<p class="">{{cardDeatial['description']}}<a href="{{cardDeatial['link']}}" target='_blank'>{{cardDeatial['target']}}</a></p>
			</div>
		</div>
	</div>
</div>