<div class="container mr-150">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="#">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Biblioteca</li>
	  </ol>
	</nav>

	<div class="top-content pd-top-22 clearfix">
		<div class="row">
			<div class="col-md-12 border-right">
			   	<h2 class="semibold-text center-text">Sobre MyNM Care Corner</h2>
			</div>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="mission">
				<h3 class="semibold-text">Misión</h3>
				<p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac turpis sed arcu dapibus porttitor. Cras scelerisque ligula at quam mattis, id interdum metus volutpat. Duis ut euismod lorem. Duis et mauris augue. Cras a varius sem, nec aliquet tellus. Cras ex ex, sodales sit amet eros non, pharetra venenatis sem. Donec nec sem eu nisi vehicula accumsan. Nunc eget est imperdiet, sollicitudin libero ac, varius justo. Fusce cursus mollis ipsum, non tincidunt tellus pharetra feugiat. Sed a ullamcorper odio, in convallis eros. Nam ac condimentum ligula. Quisque non malesuada ipsum. Nullam sed nisi justo. Sed arcu neque, facilisis ut venenatis et, pretium ut turpis. Fusce tincidunt felis est.</p>
			</div>
		</div>
	</div>
	<div class="study-member">
		<h3 class="semibold-text">Miembro del estudio</h3>
		<div class="content-grid clearfix row" >
			<div class="col-md-3" *ngFor="let cardDeatial of card">
				<img class="study-image" [src]="cardDeatial['src']" width="100%">
				<h4 class="semibold-text">{{cardDeatial['title']}}</h4>
				<p>{{cardDeatial['discription']}}</p>
			</div>
		</div>
	</div>
</div>