<div id="healthy-foods" class="">
    <div class="container mr-150">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Tablero</a></li>
              <li class="breadcrumb-item d-none"><a href="#">...</a></li>
              <li class="breadcrumb-item mob-hidden"><a href="#/patient-resources">Recursos para pacientes</a></li>
              <li class="breadcrumb-item"><a href="#/patient-resources/well-being">Mejorando su bienestar</a></li>
            <li class="breadcrumb-item active mob-hidden" aria-current="page">Manejo del estrés</li>
            </ol>
        </nav>
        <div class="detail-library">
            <div class="col-md-8 col-sm-12">
                <div class="check-detail pt-0">
                    <div class="foods-btn">
                        <a (click)= "toggleFavorite()">{{ isFav ? 'Quitar de favoritos' : 'Agregar a favoritos' }}<i class="{{isFav ? 'icon-like' : 'icon-my-favorites'}}"></i></a>
                        <a (click)= "logPDF('stress.pdf')" href="assets/pdf/stress.pdf" target='_blank'>Descargar pdf <i class="icon-pdf"></i> </a>
                    </div>
                    <h2>Manejo del estrés</h2>
                    <span>Escuche el audio completo de esta página a continuación</span>
                    <iframe id="sc-widget" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/906587386%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe>
                    <br><br>
                    <p class="detail-pera">El estrés es algo normal en la vida cotidiana. Sin embargo, a veces puede ser abrumador. Aprender a controlar el estrés puede mejorar su estado de ánimo y su sensación general de bienestar.</p>
                    <p class="bold-text pt-pb">Reconocimiento del estrés</p>
                    <p class="detail-pera">Reconocer cómo uno reacciona al estrés es un primer paso importante. Las siguientes preguntas lo ayudarán a ser más consciente de cómo experimenta el estrés.</p>
                    <ul class="left-side">
                        <li>¿Qué situaciones aumentan el estrés?</li>
                        <li>¿En qué parte del cuerpo siente más a menudo el estrés?</li> 
                        <li>¿Cómo cambian sus pensamientos y su humor cuando está estresado?</li>
                    </ul> 
                    <p class="bold-text pt-pb">Estrategias para controlar el estrés</p>                    
                     <ul class="left-side">
                        <li>Respiración profunda<br>La meditación ayuda a reducir el estrés, además de mejorar la salud en general. A continuación se incluye un enlace a un ejercicio de meditación guiada con respiración profunda. Este ejercicio debe hacerse acostado sobre su espalda en una posición cómoda. Sin embargo, puede ser útil practicarlo sentado o de pie para acostumbrarse a hacer respiraciones relajantes en cualquier posición con los ojos abiertos o cerrados. <iframe id="sc-widget2" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/823106299%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe></li>
                        <li>Técnica de meditación STOP (detenerse, respirar, observar y proceder)<br>Esta meditación se puede hacer en cualquier lugar y en cualquier momento de estrés.<br>Este ejercicio dura unos 2 minutos. <iframe id="sc-widget3" width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/823105462%3Fsecret_token%3Ds-ZkmD6&color=%2363599e&inverse=false&auto_play=false&show_user=true"></iframe></li> 
                        <li>Expresar los sentimientos<br>Se ha descubierto que cuando las personas expresan sentimientos fuertes como la ira o la tristeza, pueden dejarlos ir más fácilmente. Expresar nuestras emociones es una parte importante para lidiar con el estrés.</li>
                        <li>Escribir sobre los sentimientos<br>Escribir sobre sus emociones, tensiones y eventos en su vida es una forma privada de expresar sus sentimientos.<br>Estas son algunas ideas que puede explorar en un diario para conocerse mejor a sí mismo:
                            <ul class="left-side">
                            <li>Mi forma favorita de pasar el día es...</li>
                            <li>Haga una lista de 10 cosas que lo hagan sonreír.</li> 
                            <li>Las palabras que me sirven de guía en mi vida son...</li>
                            <li>Cuando siento dolor, físico o emocional, lo más agradable que puedo hacer por mí mismo es...</li>
                            <li>Indique un gesto de compasión que haya tenido con un amigo recientemente. Luego escriba cómo puede hacer algo similar por usted mismo.</li>
                            </ul> 
                        </li>
                        <li>Comenzar un nuevo pasatiempo<br>Tener una actividad nueva y desafiante proporciona una sensación de logro y es una distracción de las preocupaciones diarias. Por ejemplo, trate de tomar una clase de arte o aprenda un nuevo tipo de baile.</li>
                        <li>Tomarse tiempo para uno mismo<br>Es importante recordar que ocuparse de uno mismo también puede ser beneficioso para sus seres queridos. Cuanto mejor se sienta, mejor podrá cuidar u ocuparse de las personas importantes en su vida.</li>
                    </ul>
                    <img src="assets/img/StressManagement_B.jpg" class="mt-20" width="100%" />
                </div>   
            </div> 
            <div class="col-md-3 col-sm-12">  
                <div class="check-detail pb-0 border-top">
                    <p class="semibold-text light-height">Mejorando su bienestar</p> 
                    <ul class="right-side-list mt-20">
                        <li><a [routerLink]="'/patient-resources/well-being/talking'">Hablar con su equipo de atención médica</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/social'">Apoyo social</a></li>
                        <li class="active" ><a [routerLink]="'/patient-resources/well-being/stress'">Manejo del estrés</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/physical'">Actividad física</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/problem'">Solución de problemas bajo estrés</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/smokingcessation'">Dejar de fumar y el abuso de sustancias</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/sunprotection'">Protección solar</a></li>
                        <li><a [routerLink]="'/patient-resources/well-being/supportive'">Oncología de apoyo y cuidados paliativos</a></li>
                        <br><br>
                        <li><a [routerLink]="'/patient-resources/well-being'"> < REGRESAR A Mejorando su bienestar</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    </div>
</div>
